<nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a id="fb_link"href="#">Facebook Visualizations</a>
          <ul id="fb_menu">
            <li><a href="/account_f">Basic Account Info</a></li>
            <li><a href="/visualization_f">D3 Visualization</a></li>
          </ul>
        </li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </nav>
    <br><br>

<div class="pen-container">
	<article>
	
	<h1><p>{{user.name}}</p></h1>
	<p>Instagram ID:{{user.ig_id}}</p>
	{{#each photos}}<p>{{users.profile_picture}}</p>{{/each}}

	<br>
	<a href="/visualization_f">view D3 visualization</a>
	<h1></h1>
    	<p>Click the link above to display the graph!</p>
 	</article>
</div>

<script>
  $("#fb_link").on("mouseover", function()
    {
      $("#ig_menu").css("display", "none");
      if($("#fb_menu").css("display") == "none" )
        $("#fb_menu").css("display", "block");
      else
        $("#fb_menu").css("display", "none");
    });
</script>