<div class="pen-container">
	<article>
	
	<h1><p>{{user.name}}</p></h1>
	<p>Instagram ID:{{user.ig_id}}</p>
	{{#each photos}}<p>{{users.profile_picture}}</p>{{/each}}

	<br>
	<a href="/visualization_f">view D3 visualization</a>
	<h1></h1>
    	<p>Click to display graph!</p>
 	</article>
</div>