
<h1>Welcome to Visualizations</h1>

<div class="pen-container">
 

  <div class="col-xs-12 article-wrapper">
      <article>
       
        <div class="img-wrapper"><a href="/auth/instagram"><img src="http://harassmap.org/en/wp-content/uploads/2015/02/instagram-logo-png.png"/></a></div>
        <h1>Instagram</h1>
        <p>See data about those you follow on Instagram in C3 and D3 visializations</p>
      </article>
    </div>
  <div class="col-xs-12 article-wrapper">
      <article>
     <div class="img-wrapper"><a href="/auth/facebook"><img src="http://lolopeakbrewery.com/wp-content/uploads/2014/11/facebook-logo.jpg"/></a></div>
        <h1>Facebook</h1>
        <p>Check out your posts' popularity in D3 visualizations!</p>
      </article>
    </div>
</div>
