<h1> Media Count of Your Instagram Followers </h1>
<div id="chart"></div>

<label  position: absolute, top: 10px,
  right: 10px><input type="checkbox"> Sort values</label>
  <script src="d3-tip-master/index.js"></script>
<script src="js/visualization.js"></script>

