<h1> Your Likes on Facebook </h1>
<div id="chart"></div>

<label style="width:100%; padding: 20px; text-align: center; font-weight:bold; font-size: 24px; color:#4682B4;"><input type="checkbox"> Sort Alphabetically</label>
  <script src="d3-tip-master/index.js"></script>
<script src="js/visualization_f.js"></script>