<nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a id="ig_link" href="#">Instagram Visualizations</a>
          <ul id="ig_menu">
            <li><a href="/account">Basic Account Info</a></li>
            <li><a href="/c3visualization">C3 Visualization</a></li>
            <li><a href="/visualization">D3 Visualization</a></li>
          </ul>
        </li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </nav>
    <br><br>


<h1> Number of Posts of Those You Follow on Instagram</h1>
<div id="chart"></div>

<div id="loading"></div>

<script> 
function onReady(callback) {
    var intervalID = window.setInterval(checkReady,20);

    function checkReady() {
        if (document.getElementsByClassName('bar')[0] !== undefined) {
            window.clearInterval(intervalID);
            callback.call(this);
        }
    }
}

function show(id, value) {
    document.getElementById(id).style.display = value ? 'block' : 'none';
    debugger
}

onReady(function () { 
    show('chart', true);
    show('loading', false);
});


    $("#ig_link").on("mouseover", function()
    {
      if($("#ig_menu").css("display") == "none" )
        $("#ig_menu").css("display", "block");
      else
        $("#ig_menu").css("display", "none");
    });
</script>

<label style="width:100%; padding: 20px; text-align: center; font-weight:bold; font-size: 24px; color:#4682B4;"><input type="checkbox"> Sort values</label>
  <script src="d3-tip-master/index.js"></script>
<script src="js/visualization.js"></script>

